@model BookModel
@{
    ViewData["Title"] = "AddBook";
}


<div class="container">
    <div class="row">
        <h1>Add New Book</h1>
        <form asp-action="AddBook" asp-controller="Book" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Title" placeholder="book title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Author" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Author" placeholder="book title">
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Category" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Category" placeholder="book title">
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label ASP-for="Description" class="form-label"></label>
                <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LanguageId" class="form-label"></label>
                <select asp-for="LanguageId" class="form-select" asp-items="ViewBag.language">
                    @*<option>Chose Your Language</option>
                <option value="Bangla">Bangla (Mother Language</option>
                <option value="English">English (Global Language)</option>
                <option value="Hindi">Hindi (Custom Language)</option>*@
                </select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TotalPage" class="form-label"></label>
                <input type="text" class="form-control" asp-for="TotalPage" placeholder="book title">
                <span asp-validation-for="TotalPage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input class="form-control" asp-for="Image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
</div>

@section Scripts{ 
    <script src=""></script>
}