@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Bookstore</h1>
        <p class="lead">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
            The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's 
            De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                        
        </p>
        <p> <a href="#" class="btn btn-primary">Search Books</a></p>
    </div>
</div>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">This Section will be used to display the short description of Book.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">This Section will be used to display the short description of Book.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">This Section will be used to display the short description of Book.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>